.home {
  width: 100%;
  height: 81.5vh;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: zoomInOut 20s ease infinite;
    overflow: hidden;
  }
  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgray;
    font-size: 20px;
    p {
      font-size: 32px;
      text-align: center;
      font-style: italic;
      font-weight: 200;
      color: #eaa023;
    }
  }
}

// @keyframes zoomInOut {
//   0%,
//   100% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.1);
//   }
// }
