.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  z-index: 999;
  transition: all 1s ease;
  background-color: #0c1023;
  height: 70px;
  &.scrolled {
    background-color: #0c1023;
    height: 70px;
    color: white;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;

      span {
        width: 100%;
        height: 3px;
        background-color: white;
        transform-origin: left;
        transition: all 1s ease;
      }
      &.active {
        span {
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .name {
        font-weight: 500;
        font-size: 20px;
      }
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
