.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #0c1023;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;

    li {
      color: lightgray;
      font-size: 24px;
      cursor: pointer;
      font-weight: 300;

      &:hover {
        font-weight: 500;
        color: #eaa023;
        border-bottom: 1px solid white;
      }
    }
  }

  &.active {
    left: 0;
  }
}
