.footer {
  background-color: #0c1023;
  color: #eaa023;

  .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 24px;
      font-weight: 300;
      color: lightgray;
    }

    .icons {
      display: flex;
      gap: 20px;

      .icon-item {
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;

        .icon {
          color: #eaa023;
          font-size: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
